@import 'bootstrap/dist/css/bootstrap';


.cent_al{
    display: block;
    padding-left: 100 px;
    
}

.search-area{
    padding-top: 50px;
}

.no-right-padding{
    padding-right: 5px;
}

.no-left-padding{
    padding-left: 5px;
}

.results-block{
    margin-top:20px;
    display: inline-block; 
    padding :5px;  
    background-color: lightgray;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.results-block1{
    margin-top:20px;
    display: inline-block; 
}


.logout-button{
    margin-right:10px;
}

.name-show{
    margin-top: 5px;
    padding-right: 10px;
}

.margin_top3{
    margin-top: 70px;
}

#margin-top{
    margin-top: 20px;
}

